body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.section-four {
    width: 100%;
    height: 100vh;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card-container {
    position: relative;
    width: 33%;
    height: 25%;
  }

.project-card-left,
.project-card-main,
.project-card-right {
  width: 100%;
  height: 100%;
  position: absolute;
  
  border: none;
  outline: none;

  border-radius: 15px;

  transition: all 350ms ease-in-out;
}

.card-2,
.card-3,
.card-5,
.card-6{
    z-index: 0;
}

.project-card-left,
.project-card-right,
.card-1,
.card-4{
    z-index: 1;
}
.project-card-main,
.card-0{
    z-index: 2;
}










.project-card{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    background-color: rgb(35, 35, 35);
    transition: all 350ms ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-card-container:hover .project-card-left{
    transform: translateX(-101%);
}

.project-card-container:hover .project-card-right{
    transform: translateX(101%);
}

.project-card-left:hover .card-2,
.project-card-right:hover .card-5{
    transform: translateY(103%);
}

.project-card-left:hover .card-3,
.project-card-right:hover .card-6{
    transform: translateY(-103%);
}

.project-card-left:hover,
.project-card-main:hover,
.project-card-right:hover,
.project-card:hover{
    box-shadow: rgba(200, 200, 200, 0.651) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}